@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-button-primary: linear-gradient(to right, #3b82f6, #9333ea);
  --color-button-primary-hover: linear-gradient(to right, #2563eb, #7e22ce);
  --color-button-secondary: #1f2937;
  --color-button-secondary-hover: #374151;
  --color-button-outlined: transparent;
  --color-button-outlined-hover: rgba(255, 255, 255, 0.1);
  --color-button-ghost: transparent;
  --color-button-ghost-hover: rgba(255, 255, 255, 0.05);
}
.border-hidden {
  border-color: transparent !important;
}
.glow-border::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 0.375rem;
  background: linear-gradient(
    270deg,
    var(--color-primary-glow),
    var(--color-secondary-glow),
    var(--color-primary-glow)
  );
  background-size: 300% 300%;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.animate-glow::before {
  opacity: 1;
  animation: border-shine 1.4s ease-in-out forwards;
}

.fade-out-glow::before {
  opacity: 0;
}

@keyframes border-shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
